[report]
exclude_lines =
    pass
    \.\.\.
    def __str__
    def __repr__
    def __getattr__
    TYPE_CHECKING

[run]
branch = true
omit =
    src/tests/*,
    src/project/*,
    src/manage.py,
    */migrations/*

[html]
directory = coverage_report
